{% extends 'base.html' %} {% block title %} About {% endblock %} {% block
content %}

<div class="container p-5" align="center" style="font-size: large">
  <p>
    <b>Developed by:</b><br />
    Aryan Singh ,  Roll : 2005370<br />
    Utkarsh Kumar, Roll : 2005975<br />
    Yash Dwivedi, Roll : 20051436<br />
    Piyush Gupta, Roll : 20051640<br />
    Aditya Singh, Roll : 20051652<br />
    Kalinga Institute of Industrial Technology <br />
    Computer Science & Engineering<br />
  </p>
</div>
<footer align="center">
  <a href="https://github.com/chipper1211" target="_blank"><b>Github</b></a> |
  <a href="https://www.linkedin.com/in/aryan-singh-49b12a1b7/" target="_blank"><b>LinkedIn</b></a>
</footer>
{% endblock %}